<html>
<head>
<title>fragment_reset_password.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #6d9cbe;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
fragment_reset_password.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;FrameLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.Fragments.ResetPasswordFragment&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#263238&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;ScrollView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;RelativeLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;ImageView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/confuse_image&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;150dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;150dp&quot;</span>
                <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:src</span><span class="s2">=&quot;@drawable/confuse&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;60dp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/forgot_password&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_below</span><span class="s2">=&quot;@+id/confuse_image&quot;</span>
                <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;30dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/audiowide&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Forgot Password&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#3EB255&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;28sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/info_password&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_below</span><span class="s2">=&quot;@+id/forgot_password&quot;</span>
                <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;30dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/nunito&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Don't worry, we just need your registered \nemail address!&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#F56920&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;EditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/forgot_email&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;270dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_below</span><span class="s2">=&quot;@+id/info_password&quot;</span>
                <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;40dp&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#00C853&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/nunito&quot;</span>
                <span class="s1">android:hint</span><span class="s2">=&quot;Enter email&quot;</span>
                <span class="s1">android:inputType</span><span class="s2">=&quot;textEmailAddress&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot;</span>
                <span class="s1">android:textColorHint</span><span class="s2">=&quot;#fff&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/forgot_btn&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;200dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_below</span><span class="s2">=&quot;@+id/forgot_email&quot;</span>
                <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;30dp&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@drawable/shape_btn&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/audiowide&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Reset Password&quot;</span>
                <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#fff&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/linear_layout_1&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_below</span><span class="s2">=&quot;@+id/forgot_btn&quot;</span>
                <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;30dp&quot;</span>
                <span class="s1">android:visibility</span><span class="s2">=&quot;invisible&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;ImageView</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;20dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot;</span>
                    <span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_mail_24&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/info_text&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;Recovery email sent successfully!&quot;</span>
                    <span class="s1">android:textColor</span><span class="s2">=&quot;#11A10c&quot;</span><span class="s0">/&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s0">&lt;ProgressBar</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/reset_progressBar&quot;</span>
                <span class="s1">style</span><span class="s2">=&quot;?android:attr/progressBarStyleHorizontal&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;75dp&quot;</span>
                <span class="s1">android:visibility</span><span class="s2">=&quot;invisible&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_below</span><span class="s2">=&quot;@+id/linear_layout_1&quot;</span>
                <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:indeterminate</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:theme</span><span class="s2">=&quot;@style/RedProgressBar&quot;</span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/go_back&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_below</span><span class="s2">=&quot;@+id/linear_layout_1&quot;</span>
                <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;30dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/nunito&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;</span><span class="s4">&amp;lt;&amp;lt; </span><span class="s2">Go Back&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#F56920&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/RelativeLayout&gt;</span>

    <span class="s0">&lt;/ScrollView&gt;</span>

<span class="s0">&lt;/FrameLayout&gt;</span></pre>
</body>
</html>